.layout {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: #e9edf1;
}

.header {
  width: 100%;
  background-color: white;
}

.content {
  display: flex;
  width: 1076px;
  margin: 0 auto;
  flex: 1 1;
  padding: 16px;
}

.tabs {
  flex-shrink: 0;
}

.children {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  border-radius: 16px;
  padding: 32px;
  margin-left: 16px;
}